<footer role="contentinfo">
<div class="global-footer">
  <div class="global-footer__inner">
    <div>
      <a id="footerImgLink" href="https://www.nhs.uk" target="_blank" class="global-footer__link">
        <img src="/static/images/logotype-nhs-colour.png" alt="NHS">
      </a>
      <h2 class="util-visuallyhidden">Terms and conditions</h2>
      <ul class="link-list">
        <li>
          <a id="privacyNoticeFooterLink" rel="noopener noreferrer" href="/privacynotice" target="_blank">Privacy notice<span class='util-visuallyhidden'> - Page opens in new window</span></a>
        </li>
        <li>
          <a id="termsAndConditionsFooterLink" rel="noopener noreferrer" href="https://www.nhs.uk/aboutNHSChoices/aboutnhschoices/termsandconditions/Pages/NDOPtermsandconditions.aspx" target="_blank">
             Terms and conditions<span class='util-visuallyhidden'> - Page opens in new window</span>
           </a>
        </li>
        <li>
          <a id="cookiePolicyFooterLink" rel="noopener noreferrer" href="/cookiespolicy" target="_blank">Cookie policy<span class='util-visuallyhidden'> - Page opens in new window</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
