<header id="header" role="banner">
  {% if display_cookie_banner is none %}
  <div id="cookieBanner" class="banner cookie">
    <div class="banner cookie">
      <div class="page-section">
        We install small files known as &quot;cookies&quot; on your device to make this service simpler.<br>
        <a href="https://your-data-matters.service.nhs.uk/cookiespolicy" target="_blank" rel="nofollow"
           title="Find out more or manage your cookie settings"
           id="cookieBannerLink">
          Find out more or manage your cookie settings
          <span class="util-visuallyhidden"> - Page opens in new window</span>
        </a>
        <span aria-hidden="true"> (opens in new window)</span>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="global-header">
    <div class="global-header__inner">
      <a id="headerImgLink" target="_blank" href="https://www.nhs.uk" class="global-header__link">
        <img src="/static/images/logotype-nhs-mono.png" alt="NHS"/>
      </a>
    </div>
  </div>
</header>
