*.idea
*.pyc
*.DS_Store
*.secret
*.coverage
*.editorconfig
*.vscode
venv
htmlcov/
*.zip
*.zip.hash
node_modules/
renderer-ES5.js
npm-debug.log
!api/common/constants.py
!api/common/utils.py
api/*/constants.py
api/*/utils.py
screens/*/lambda-common-utils-*.js
screens/*/package.json
screens/*/package-lock.json
screens/*/lambda-common-utils-*.js
nhsuk/*/package.json
nhsuk/*/package-lock.json
nhsuk/*/lambda-common-utils-*.js
*.bundle.js
.python-version
*.sublime-project
*.pickle
**/*.mypy_cache/