{% extends "base.html" %}

{% block title %}Sorry, you must be 13 or older to use this service{% endblock %}

{% block content %}
<div class="reading-width">
    <div class="grid-row">
        <div class="column--two-thirds">
            <h1 class="h2" id="ageRestrictionErrorTitle">Sorry, you must be 13 or older to use this service</h1>
            <p>Your parent or legal guardian can <a id="goToOtherWaysToSetYourPreferencesId" href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/other-ways-to-manage-your-choice/#child">make your choice on your behalf by filling out a paper form.</a></p>
        </div>
    </div>
</div>
{% endblock %}
