{% extends "base.html" %}
{% block title %}Unable to make your choice online{% endblock %}

{% block content %}
<div class="reading-width">
    <div class="grid-row">
        <div class="column--two-thirds">
            <h1 class="h2" id="ageRestrictionErrorTitle">Unable to manage your choice online</h1>
            <p>Sorry, you must be aged 13 or over to manage your choice online.</p>
            <p>A parent or guardian can manage a choice on your behalf, using the non-digital
                service.</p>
            <p> Please see
                <a id="goToOtherWaysToSetYourPreferencesId"
                   href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/other-ways-to-manage-your-choice/">
                    other ways to manage your choice
                </a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
