{% extends "base.html" %}
{% block title %}Contact us{% endblock %}

{% block content %}
<div class="reading-width">
    <div class="grid-row">
        <div class="column--two-thirds">
            <h1 class="h2">Contact us </h1>
            <p>Sorry, we seem to have the wrong contact details for you.</p>
            <p>This may be because you have not registered these details with your GP Practice, or
                your GP Practice has not yet shared them with us.</p>
            <p>You can try again when your information is updated, or you can choose to use the
                non-digital service instead.</p>
            <p>Please see <a
                    id="goToOtherWaysToSetYourPreferencesId"
                    href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/other-ways-to-manage-your-choice"
            >other ways to manage your choice</a>
            </p>.
        </div>
    </div>
</div>
{% endblock %}
