{% extends "base.html" %}
{% block title %}Contact us{% endblock %}

{% block content %}
<div class="reading-width">
  <div class="grid-row">
    <div class="column--two-thirds">
      <h1 class="h2">Contact us</h1>
      <p>If you have not received a verification code by email or mobile, contact the NHS Digital Contact Centre.</p>
      <p>We may be able to guide you through the service, or manage your choice on your behalf.</p>
      <p>Call: 0300 303 5678</p>
      <p>Open: 9am to 5pm Monday to Friday (excluding bank holidays).</p>
    </div>
  </div>
</div>
{% endblock %}
