{% extends "base.html" %}

{% block title %}Sorry you have not received your security code{% endblock %}

{% block content %}
<div class="reading-width">
    <div class="grid-row">
        <div class="column--two-thirds">
            <h1 class="h2">Sorry you have not received your security code</h1>
            <p>Contact us for help making your choice:</p>
            <p>Telephone: 0300 303 5678
            <br/>Monday to Friday, 9am to 5pm excluding bank holidays</p>
        </div>
    </div>
</div>
{% endblock %}
