{% extends "base.html" %}

{% block title %}You must enable cookies to make your choice online{% endblock %}

{% block content %}
<div class="grid-row">
    <div class="column--two-thirds">
        <div class="reading-width">
            <h1 class="h2">You must enable cookies to make your choice online</h1>
            <p>We put small files called cookies onto your device to keep your visit secure. <a href="/cookiespolicy">Find out more or manage your cookie settings.</a></p>
            {% include 'snippet/other-ways-to-manage-your-choice.html' %}
        </div>
    </div>
</div>
{% endblock %}

