{% extends "base.html" %}
{% block title %}How to manage your choice online{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--full">
    <div class="callout callout--interruption alt">
      <div class="grid-row">
        <div class="column--three-quarters tablet">
          <h1 class="h2">We need to check who you are before you can make your choice</h1>
          <div class="reading-width">
            <p>
              We'll need your:
            </p>
            <p>
              <ul>
                  <li>name</li>
                  <li>date of birth</li>
                  <li>postcode or NHS number</li>
              </ul>
            </p>
            <p>
              We'll use these details to find your contact details from your health records so we can send you a security code.
            </p>
            <form method="POST" id="landingPageForm" action="{{ routes.get_absolute('main.landing_page') }}">
              {{ form.csrf_token }}
              <button id="yourDetailsButton" type="submit" class="button util-no-margin">Continue</button>
            </form>
            <p>
              <a href="/privacynotice#what-information-do-we-collect-about-you" target="_blank">
                How your data will be processed using this service<span class='util-visuallyhidden'> - Page opens in new window</span>
              </a> <span aria-hidden="true"> (opens in new window).</span>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
