{% extends "base.html" %}
{% block title %}How to manage your choice online{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column--full">
    <div class="callout callout--interruption alt">
      <h1 class="h2">How to manage your choice online</h1>
      <div class="grid-row">
        <div class="column--three-quarters tablet">
          <div class="reading-width">
            <p>
              Tell us your name, date of birth and NHS number or postcode.
            </p>
            <p>
              If we find your contact details, we'll then send you a security code. When your code is verified, you will be able to make your choice online.
            </p>
            <form method="POST" id="landingPageForm" action="{{ routes.get_absolute('main.landing_page') }}">
              {{ form.csrf_token }}
                <button id="yourDetailsButton" type="submit" class="button util-no-margin">Continue</button>
            </form>
            <p>
              <a href="/privacynotice#what-information-do-we-collect-about-you" target="_blank">
                How your data will be processed using this service<span class='util-visuallyhidden'> - Page opens in new window</span>
              </a> <span aria-hidden="true"> (opens in new window).</span>
            </p>
          </div>

        </div>
        <div class="column--one-quarter tablet">
          <img alt="" class="util-displaynone-mobile" style="width:100%;" src="/static/images/choice-icon-white.svg" />
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
