{% extends "base.html" %}

{% block title %}Sorry, you'll need to start again{% endblock %}

{% block extra_page_sections %}
<div class="page-section">
    <div class="reading-width">
        <div class="grid-row">
            <div class="column--two-thirds">
                <h1 class="h2">Sorry, you'll need to start again</h1>
                <p>You'll need to start again because you’ve not used this service for a while.</p>
                <p>We do this for your security.</p>
                <a id="returnButton" class="button" href="{{ routes.get_absolute('main.landing_page') }}">Start again</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}